{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript">

    $(function() {
        var totalPoints = 24, updateInterval = 5000; //milliseconds
        var now1 = new Date().getTime(), now2 = new Date().getTime(), now3 = new Date().getTime(), now4 = new Date().getTime();
        var dataPy1,dataPy2,dataPy3, dataPy4, prevVal1, prevVal2, prevVal3, prevVal4, AImoney, AIstock1, AIstock2, AIstock3, AIstock4;
        var data1 = [], data2 = [], data3 = [], data4 = [];

        function pushGraph1() {
            if (data1.length > 0)
            data1.shift();
            while(data1.length < totalPoints) {
                var y = dataPy1;
                var temp = [now1 += updateInterval, y];
                data1.push(temp);
             }
            return data1;
        }

        function pushGraph2() {
            if (data2.length > 0)
            data2.shift();
            while(data2.length < totalPoints) {
                var y = dataPy2;
                var temp = [now2 += updateInterval, y];
                data2.push(temp);
            }
            return data2;
        }

        function pushGraph3() {
            if (data3.length > 0)
            data3.shift();
            while(data3.length < totalPoints) {
                var y = dataPy3;
                var temp = [now3 += updateInterval, y];
                data3.push(temp);
            }
            return data3;
        }

        function pushGraph4() {
            if (data4.length > 0)
            data4.shift();
            while(data4.length < totalPoints) {
                var y = dataPy4;
                var temp = [now4 += updateInterval, y];
                data4.push(temp);
            }
            return data4;
        }

        $("#updateInterval").val(updateInterval).change(function () {
            var v = $(this).val();
            if (v && !isNaN(+v)) {
                updateInterval = +v;
                if (updateInterval < 1) {
                    updateInterval = 1;
                } else if (updateInterval > 2000) {
                    updateInterval = 2000;
                }
                $(this).val("" + updateInterval);
            }
        });

        var plot1 = $.plot("#placeholder1", [pushGraph1()] , {
            series: {
                shadowSize: 0,  // Drawing is faster without shadows
                lines: {
                    show: true,
                    lineWidth: 1.2,
                    fill: true
                }
            },
            yaxis: {
                min: 0,
                max: 100
            },
            xaxis: {
                    mode: "time",
                    tickSize: [30, "second"],
                    tickFormatter: function (v, axis) {
                        var date = new Date(v);

                        if (date.getSeconds() % 60 == 0) {
                            var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes()-2 : date.getMinutes()-2;
                            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds(): date.getSeconds();

                            return hours + ":" + minutes + ":" + seconds;
                        } else {
                            return "";
                        }
                    },
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 10,
                axisLabelFontFamily: 'Verdana, Arial',
            },
            legend: {
                labelBoxBorderColor: "#fff"
            }
        });

        var plot2 = $.plot("#placeholder2", [ pushGraph2() ], {
            series: {
                shadowSize: 0,  // Drawing is faster without shadows
                lines: {
                    show: true,
                    lineWidth: 1.2,
                    fill: true
                }
            },
            yaxis: {
                min: 0,
                max: 1000
            },
            xaxis: {
                mode: "time",
                    tickSize: [30, "second"],
                    tickFormatter: function (v, axis) {
                        var date = new Date(v);

                        if (date.getSeconds() % 60 == 0) {
                            var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes()-2 : date.getMinutes()-2;
                            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds(): date.getSeconds();

                            return hours + ":" + minutes + ":" + seconds;
                        } else {
                            return "";
                        }
                    },
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 10,
                axisLabelFontFamily: 'Verdana, Arial',
            }
        });
        
        var plot3 = $.plot("#placeholder3", [ pushGraph3() ], {
            series: {
                shadowSize: 0,  // Drawing is faster without shadows
                lines: {
                    show: true,
                    lineWidth: 1.2,
                    fill: true
                }
            },
            yaxis: {
                min: 0,
                max: 10000
            },
            xaxis: {
                mode: "time",
                    tickSize: [30, "second"],
                    tickFormatter: function (v, axis) {
                        var date = new Date(v);

                        if (date.getSeconds() % 60 == 0) {
                            var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes()-2 : date.getMinutes()-2;
                            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds(): date.getSeconds();

                            return hours + ":" + minutes + ":" + seconds;
                        } else {
                            return "";
                        }
                    },
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 10,
                axisLabelFontFamily: 'Verdana, Arial',
            }
        });
        
        var plot4 = $.plot("#placeholder4", [ pushGraph4() ], {
            series: {
                shadowSize: 0,  // Drawing is faster without shadows
                lines: {
                    show: true,
                    lineWidth: 1.2,
                    fill: true
                } 
            },
            yaxis: {
                min: 0,
                max: 100000
            },
            xaxis: {
                mode: "time",
                    tickSize: [30, "second"],
                    tickFormatter: function (v, axis) {
                        var date = new Date(v);

                        if (date.getSeconds() % 60 == 0) {
                            var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes()-2 : date.getMinutes()-2;
                            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds(): date.getSeconds();

                            return hours + ":" + minutes + ":" + seconds;
                        } else {
                            return "";
                        }
                    },
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 10,
                axisLabelFontFamily: 'Verdana, Arial',
            }
        });
        
        function update() {
            prevVal1 = dataPy1;
            prevVal2 = dataPy2;
            prevVal3 = dataPy3;
            prevVal4 = dataPy4;
            $(function() {
                $.ajax({
                    type: 'GET',
                    url: '/StockTrader/default/graphJson.json',
                    success: function(data) {
                    $('#loadingDivStock').hide();
                    dataPy1 = data.g1y;
                    dataPy2 = data.g2y;
                    dataPy3 = data.g3y;
                    dataPy4 = data.g4y;

                    prevVal1 = dataPy1 - prevVal1;
                    prevVal2 = dataPy2 - prevVal2;
                    prevVal3 = dataPy3 - prevVal3;
                    prevVal4 = dataPy4 - prevVal4;

                    if(prevVal1>0) document.querySelector('.stock1').innerHTML ="Stock 1: "+dataPy1+"   "+"<span style=\"color:#00695c\">"+"+"+prevVal1+"</span>";
                    else if(prevVal1<0) document.querySelector('.stock1').innerHTML ="Stock 1: "+dataPy1 + "   " + "<span style=\"color:#ef5350\">" + prevVal1 + "</span>";
                    else if (prevVal1==0) document.querySelector('.stock1').innerHTML ="Stock 1: "+dataPy1 + "   " + "<span style=\"color:#64b5f6\">" + prevVal1 + "</span>";
                    else document.querySelector('.stock1').innerHTML ="Stock 1: "+dataPy1;
                    if (prevVal2>0) document.querySelector('.stock2').innerHTML ="Stock 2: "+dataPy2+"   "+"<span style=\"color:#00695c\">"+"+"+prevVal2+"</span>";
                    else if (prevVal2 < 0) document.querySelector('.stock2').innerHTML ="Stock 2: "+dataPy2 + "   " + "<span style=\"color:#ef5350\">" + prevVal2 + "</span>";
                    else if (prevVal2 == 0) document.querySelector('.stock2').innerHTML ="Stock 2: "+dataPy2 + "   " + "<span style=\"color:#64b5f6\">" + prevVal2 + "</span>";
                    else document.querySelector('.stock2').innerHTML ="Stock 2: "+dataPy2;
                    if (prevVal3 > 0) document.querySelector('.stock3').innerHTML ="Stock 3: "+dataPy3+"   "+"<span style=\"color:#00695c\">"+"+"+prevVal3+"</span>";
                    else if (prevVal3 < 0) document.querySelector('.stock3').innerHTML ="Stock 3: "+dataPy3 + "   " + "<span style=\"color:#ef5350\">" + prevVal3 + "</span>";
                    else if (prevVal3 == 0) document.querySelector('.stock3').innerHTML ="Stock 3: "+dataPy3 + "   " + "<span style=\"color:#64b5f6\">" + prevVal3 + "</span>";
                    else document.querySelector('.stock3').innerHTML ="Stock 3: "+dataPy3;
                    if (prevVal4 > 0) document.querySelector('.stock4').innerHTML ="Stock 4: "+dataPy4+"   "+"<span style=\"color:#00695c\">"+"+"+prevVal4+"</span>";
                    else if (prevVal4 < 0) document.querySelector('.stock4').innerHTML ="Stock 4: "+dataPy4 + "   " + "<span style=\"color:#ef5350\">" + prevVal4 + "</span>";
                    else if (prevVal4 == 0) document.querySelector('.stock4').innerHTML ="Stock 4: "+dataPy4 + "   " + "<span style=\"color:#64b5f6\">" + prevVal4 + "</span>";
                    else document.querySelector('.stock4').innerHTML ="Stock 4: "+dataPy4;

                    }
                });
            });
            $(function() {
                $.ajax({
                    type: 'GET',
                    url: '/StockTrader/default/opponentAI.json',
                    success: function(data) {
                    $('#loadingDivAI').hide();
                        AImoney = data.AI_money;
                        AIstock1 = data.AI_stock1;
                        AIstock2 = data.AI_stock2;
                        AIstock3 = data.AI_stock3;
                        AIstock4 = data.AI_stock4;

                        document.querySelector('.AImoney').innerHTML ="Current Money: $"+AImoney;
                        document.querySelector('.AIstock1').innerHTML ="Shares of Stock 1: "+AIstock1;
                        document.querySelector('.AIstock2').innerHTML ="Shares of Stock 2: "+AIstock2;
                        document.querySelector('.AIstock3').innerHTML ="Shares of Stock 3: "+AIstock3;
                        document.querySelector('.AIstock4').innerHTML ="Shares of Stock 4: "+AIstock4;
                    }
                });
            });

            plot1.setData([pushGraph1()]);
            plot2.setData([pushGraph2()]);
            plot3.setData([pushGraph3()]);
            plot4.setData([pushGraph4()]);

            plot1.setupGrid()
            plot2.setupGrid()
            plot3.setupGrid()
            plot4.setupGrid()

            plot1.draw();
            plot2.draw();
            plot3.draw();
            plot4.draw();
            setTimeout(update, updateInterval);
        }
        update();
    });
    </script>
</head>

<div id ="column1">
    <div class="card">
       <div class="demo-container">
           <div id="placeholder1" class="demo-placeholder"></div>
       </div>
       <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Stock 1 <i class="mdi-navigation-more-vert right"></i></span>
           <p>
                {{=A('Buy', _class='btn-flat', _href=URL('default', 'buy1'))}}
                {{=A('Sell', _class='btn-flat', _href=URL('default', 'sell1'))}}
             <!--   <a class="waves-effect waves-light" href="StockTrader/default/sell1">Sell</a> -->
           </p>
       </div>
       <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Stock 1<i class="mdi-navigation-close right"></i></span>
           <p>This Stock is the least volatile of the four. Hope it helps get you started!</p>
       </div>
    </div>
</div>

<div id="columnblank"></div>

<div id="column2">
    <div class="card">
        <div class="demo-container">
            <div id="placeholder2" class="demo-placeholder"></div>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Stock 2<i class="mdi-navigation-more-vert right"></i></span>
            <p>
                {{=A('Buy', _class='btn-flat', _href=URL('default', 'buy2'))}}
                {{=A('Sell', _class='btn-flat', _href=URL('default', 'sell2'))}}
            </p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Stock 2<i class="mdi-navigation-close right"></i></span>
            <p>This Stock helps you transition to the larger stock trades.</p>
        </div>
    </div>
</div>

<div id="columnblank"></div>

<div id="column3">

    <div class="card">
        <div class="demo-container">
            <div id="placeholder3" class="demo-placeholder"></div>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Stock 3 <i class="mdi-navigation-more-vert right"></i></span>
            <p>
                    {{=A('Buy', _class='btn-flat', _href=URL('default', 'buy3'))}}
                    {{=A('Sell', _class='btn-flat', _href=URL('default', 'sell3'))}}
<!--                 <a class="waves-effect waves-light" href="StockTrader/default/buy3">Buy</a>
                <a class="waves-effect waves-light" href="StockTrader/default/sell3">Sell</a> -->
            </p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Stock 3<i class="mdi-navigation-close right"></i></span>
            <p>This Stock is past midway to the big leagues. </p>
        </div>
    </div>
</div>

<div id="columnblank"></div>

<div id="column4">
    <div class="card">
        <div class="demo-container">
            <div id="placeholder4" class="demo-placeholder"></div>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Stock 4 <i class="mdi-navigation-more-vert right"></i></span>
            <p>
                    {{=A('Buy', _class='btn-flat', _href=URL('default', 'buy4'))}}
                    {{=A('Sell', _class='btn-flat', _href=URL('default', 'sell4'))}}
<!--                 <a class="waves-effect waves-light" href="StockTrader/default/buy4">Buy</a>
                <a class="waves-effect waves-light" href="StockTrader/default/sell4">Sell</a> -->
            </p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Stock 4<i class="mdi-navigation-close right"></i></span>
            <p>This Stock is the most volatile of the four. May cause rags to riches, or riches to rags. Be careful!</p>
        </div>
    </div>
</div>

<div id="bottom1">
    <div class="card">
        <div class = "card-panel teal">
            <span class="white-text">
                <p>
                    Current Money: ${{=player_money}} <br>
                    Shares of Stock 1: {{=stock1}} <br>
                    Shares of Stock 2: {{=stock2}} <br>
                    Shares of Stock 3: {{=stock3}} <br>
                    Shares of Stock 4: {{=stock4}} <br>
                </p>
            </span>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Player<i class="mdi-navigation-more-vert right"></i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Player<i class="mdi-navigation-close right"></i></span>
            <span class="teal-text"><p>This card shows your current statistics and updates as you buy and sell!</p></span>
            <p>
                If you would like to reset your progress, click the reset button below. Warning! Once clicked the reset cannot be undone and you must start over again.<br>
                {{=A('Reset', _class='btn-flat', _href=URL('default', 'reset'))}}
            </p>
        </div>
    </div>
</div>

<div id="bottomblank"></div>

<div id="bottom2">
    <div class="card">
        <div class = "card-panel teal">
            <span class="white-text">
                <p>
                    <div id = 'loadingDivStock'>
                        <div class="preloader-wrapper medium active">
                            <div class="spinner-layer spinner-white-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class ="stock1"></div>
                    <div class ="stock2"></div>
                    <div class ="stock3"></div>
                    <div class ="stock4"></div>
                </p>
            </span>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Stock Fluctuations<i class="mdi-navigation-more-vert right"></i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Stock Fluctuations<i class="mdi-navigation-close right"></i></span>
            <span class="blue-text"><p>This card displays the stock price changes between each update interval.</p></span>
        </div>
    </div>
</div>

<div id="bottomblank"></div>

<div id="bottom3">
    <div class="card">
        <div class = "card-panel teal">
            <span class="white-text">
                <p>
                    <div id = 'loadingDivAI'>
                         <div class="preloader-wrapper medium active">
                            <div class="spinner-layer spinner-white-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class ="AImoney"></div>
                    <div class ="AIstock1"></div>
                    <div class ="AIstock2"></div>
                    <div class ="AIstock3"></div>
                    <div class ="AIstock4"></div>
                </p>
            </span>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Opponent AI<i class="mdi-navigation-more-vert right"></i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Opponent AI<i class="mdi-navigation-close right"></i></span>
            <span class="red-text"><p>This card shows the opponent AI's statistics, controlled by a simple trading algorithm. </p></span>
        </div>
    </div>
</div>
